[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
BotEXBotBase = {path = ".",editable = true,extras = ['mongo', 'voice']}

[dev-packages]
tox = "*"
BotEXBotBase = {path = ".",editable = true,extras = ['test', 'style']}
